.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;

  /* Header background, team card background */
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

/* HEADER */
.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo-header {
  color: var(--color-grey);
}
.contacts {
  font-style: normal;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--color-ocean);
}

.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-ocean);
}

/* HERO */
.section-hero {
  background: var(--color-grey);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background: var(--color-iris);
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--color-ocean);
}

.works-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

/* COMPONENTS *FEATURES*, *ABOUT*,*PORTFOLIO**/
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-grey);
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.about-section {
  background: var(--color-cloud);
}
.menu-team-item {
  background-color: var(--color-white);
}
/* FOOTER */
.footer-section {
  background: var(--color-grey);
}
.logo-footer {
  color: var(--color-cloud);
}
.footer-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}

/* PORTFOLIO */
.btn-filter {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--color-white);
  background: var(--color-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
